meta:
  language: {{ meta.language }}

variants:
  letters:
    mispell:
      law: {{ variants.letters.mispell.law }}
      rate: {{ variants.letters.mispell.rate }}
      args:
        specific_rates:
          {% for letter, rates in variants.letters.mispell.args.specific_rates.items() %}
          {{ letter }}:
            {% for key, value in rates.items() %}
            {{ key }}: {{ value }}
            {% endfor %}
          {% endfor %}

  words:
    synonym:
      law: {{ variants.words.synonym.law }}
      rate: {{ variants.words.synonym.rate }}
    omit:
      law: {{ variants.words.omit.law }}
      rate: {{ variants.words.omit.rate }}
  sentences:
    duplicate:
      args:
        nbr_words: {{ variants.sentences.duplicate.args.nbr_words }}
      law: {{ variants.sentences.duplicate.law }}
      rate: {{ variants.sentences.duplicate.rate }}

stemma:
  depth: {{ stemma.depth }}
  width:
    law: {{ stemma.width.law }}
    min: {{ stemma.width.min }}
    max: {{ stemma.width.max }}
  missing_manuscripts:
    law: {{ stemma.missing_manuscripts.law }}
    rate: {{ stemma.missing_manuscripts.rate }}
